streamlit
pandas
numpy
sentence-transformers
openpyxl
scikit-learn
requests
beautifulsoup4
tqdm
unidecode
openai
plotly
matplotlib
transformers
requests
spacy==3.5.4  # Assurez-vous que cette version est compatible avec votre environnement
thinc==8.1.17  # Version compatible avec SpaCy 3.5.4
