streamlit
pandas
sentence-transformers
openpyxl
scikit-learn
requests
beautifulsoup4
tqdm
unidecode
openai
python-wordpress-xmlrpc
cloudscraper
matplotlib
seaborn
lxml
aiohttp
numpy
justext
wikipedia-api
selenium
selenium-wire
treelib
spacy
